* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
html {
  scroll-behavior: smooth;
}
:root {
  --mainColor: #333;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.header {
  height: 80px;
}
.header .container {
  background-color: #1a1818;
  height: inherit;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container .logo img {
  width: 60px;
  height: 60px;
  border: 2px solid white;
  border-radius: 50%;
}
.rote {
  transform: rotate(180deg);
}
/* Start Landing */
.landing {
  height: calc(100vh - 100px);
  background-color: #1a1818;
  font-family: "Almarai", sans-serif;
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
}
.landing .container {
  height: inherit;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing .container .heading h1 {
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: animate;
}
.landing .container .heading {
  color: #c9c429;
  font-size: 20px;
}
iframe {
  width: 1268px;
  height: 713px;
  border: 2px solid #c9c429;
  border-radius: 6px;
}
.landing .container .heading .main {
  margin-bottom: 50px;
}
.landing .container .heading p {
  color: #fff;
}

.landing .container .heading .login button {
  width: 100px;
  font-family: 'Almarai', sans-serif; 
  height: 40px;
  float: left;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: #c9c429 solid 1px;
  cursor: pointer;
  transition: 0.6s;
  border-radius: 6px;
  position: relative;
}
.landing .container .heading .login button:hover {
  background: #c9c4296b;
  border: none;
}
/* End Landing */
/* Start Soction */
.section {
  background-color: #1a1818;
  clip-path: polygon(0 9%, 100% 0, 100% 90%, 0% 100%);
  height: 130vh;
  padding-top: 150px;
  padding-right: 60px;
}
.section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section .container .box {
  border: 1px solid #333;
}

.fas {
  position: relative;
  right: 50%;
  top: -20px;
  cursor: pointer;
  transition: 0.8s;
}
.none {
  display: none;
  transition: 0.8s;
}
.section h1 {
  text-align: center;
  font-family: "Almarai", sans-serif;
  width: fit-content;
  border-radius: 6px;
  margin: 10px auto;
  color: #c9c429;
  padding: 10px;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: animate;
}
/* End Soction */
/* Start Qution */
.qution .container {
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: #1a1818;
  padding-top: 90px;
}
.qution .container .head {
  text-align: center;
  color: #c9c429;
  margin-top: 30px;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: animate;
  font-family: "Almarai", sans-serif;
}
.qution .container h6 {
  cursor: pointer;
  font-size: 20px;
  border-bottom: 1px solid #c9c429;
  font-family: "Almarai", sans-serif;
  padding: 15px 0;
  color: #c9c429;
  position: relative;
}
.qution .container h6::before {
  content: "";
  position: absolute;
  left: 0;
  border: 10px solid;
  border-color: #c9c429 transparent transparent;
}
.qution .container .para {
  font-size: 18px;
  transition: 1s;
  padding-top: 15px;
  font-family: "Almarai", sans-serif;
  display: none;
  color: #fff;
}
.active {
  transition: 0.8s;
  display: block !important;
}
.social {
  background-color: #eee;
  width: 25px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  bottom: 50%;
  transition: 1s;
  left: 0;
  opacity: 0.4;
}
.social:hover {
  width: 50px;
  opacity: 1;
}
.social i {
  font-size: 20px;
  margin-bottom: 5px;
  transition: 0.5s;
}
.social a:first-child {
  color: #0c88ef;
}
.social a:nth-child(3) {
  color: green;
}
.social a:nth-child(2) {
  color: black;
}

.social a:nth-child(4) {
  color: #2aa9e0;
}
.social a:nth-child(5) {
  color: #f24c58;
}
.social a:nth-child(6) {
  color: #2ea6da;
}
.social a:nth-child(7) {
  color: #e6271d;
}
.social i:hover {
  margin-left: 20px;
  font-size: 30px;
}
/* End Social */
.form {
  background-color: #33333354;
  width: 50%;
  margin: 0 auto;
  height: 50vh;
  position: fixed;
  top: 25%;
  left: 25%;
  border-radius: 6px;
  padding: 15px;
  border: 5px #eee;
  border-style: outset;
  display: none;
}
.form form {
  display: flex;
  flex-direction: column;
}
.form form input {
  height: 30px;
  border-radius: 6px;
  border: none;
  padding: 10px;
  margin-bottom: 50px;
  background-color: #eee;
  outline: none;
}
.form form input:first-child {
  margin-top: 30px;
}
.form form input:last-child {
  width: 40%;
  height: 30px;
  color: #c9c429;
  background-color: #1a1818;
  cursor: pointer;
  margin: 0 auto;
  font-weight: bold;
}
.form i {
  cursor: pointer;
}
.footer .container {
  height: 80px;
  background-color: #131212;
  color: #c9c429;
  font-family: "Almarai", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes animate {
  20% {
    text-shadow: 0px 0px 15px #c9c429;
  }
  40% {
    text-shadow: 0px 0px 20px #c9c429;
  }
  60% {
    text-shadow: 0px 0 25px #c9c429;
  }
  80% {
    text-shadow: 0px 0px 30px #c9c429;
  }
  100% {
    text-shadow: 0px 0px 35px #c9c429;
  }
}
@keyframes move {
  100% {
    box-shadow: 0px 0px 20px 9px red;
  }
}
@media (max-width: 750px) {
  .header .container .logo img {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
  }
  .landing {
    height: calc(100vh - 100px);
    background-color: #1a1818;
    font-family: "Almarai", sans-serif;
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
  }
  .landing .container {
    height: inherit;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landing .container .heading h1 {
    font-size: 20px;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: animate;
  }
  iframe {
  margin-left: auto;
  margin-right: auto;
  width: 868px;
  height: 450px;
  border: 2px solid #c9c429;
  }
  .landing .container .heading .main {
  margin-bottom: 30px;
  }
  .landing .container .heading .login button {
  width: 90px;
  height: 35px;
  float: left;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: #c9c429 solid 1px;
  cursor: pointer;
  transition: 0.6s;
  border-radius: 6px;
  }
  .section {
  background-color: #1a1818;
  clip-path: polygon(0 4%, 100% 0, 100% 93%, 0% 100%);
  height: 100vh;
  padding-top: 60px;
  padding-right: 50px;
  }
  .fas {
  position: relative;
  right: 50%;
  top: -8px;
  cursor: pointer;
  transition: 0.8s;
  }
  .section h1 {
  text-align: center;
  font-family: "Almarai", sans-serif;
  width: fit-content;
  font-size: 20px;
  margin: 5px auto;
  color: #c9c429;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: animate;
  }
  .qution .container {
  clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #1a1818;
  padding-top: 60px;
  }
  .qution .container .head {
  text-align: center;
  color: #c9c429;
  font-size: 20px;
  margin-top: 10px;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: animate;
  font-family: "Almarai", sans-serif;
  }
  .qution .container h6 {
  cursor: pointer;
  font-size: 15px;
  border-bottom: 1px solid #c9c429;
  font-family: "Almarai", sans-serif;
  padding: 10px 0;
  color: #c9c429;
  position: relative;
  }
  .qution .container h6::before {
  content: "";
  position: absolute;
  left: 0;
  border: 8px solid;
  border-color: #c9c429 transparent transparent;
  }
  .qution .container .para {
  font-size: 12px;
  transition: 1s;
  padding-top: 15px;
  font-family: "Almarai", sans-serif;
  display: none;
  color: #fff;
  }
  .social {
  background-color: #eee;
  width: 20px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  bottom: 50%;
  transition: 1s;
  left: 0;
  opacity: 0.4;
  }
  .social:hover {
  width: 25px;
  opacity: 1;
  }
  .social i {
  font-size: 13px;
  margin-bottom: 3px;
  transition: 0.5s;
  }
  .social i:hover {
  margin-left: 13px;
  font-size: 20px;
  }
  .form {
  background-color: #33333354;
  width: 45%;
  margin: 0 auto;
  height: 35vh;
  position: fixed;
  top: 25%;
  left: 25%;
  border-radius: 6px;
  padding: 10px;
  border: 2px #eee;
  border-style: outset;
  display: none;
  }
  .form form input {
  height: 25px;
  border-radius: 6px;
  border: none;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #eee;
  outline: none;
  }
  .form form input:first-child {
  margin-top: 15px;
  }
  .form form input:last-child {
  width: 30%;
  height: 20px;
  font-size: 11px;
  color: #c9c429;
  cursor: pointer;
  margin: 0 auto;
  font-weight: bold;
  }
  .footer .container {
  height: 60px;
  background-color: #131212;
  color: #c9c429;
  font-family: "Almarai", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
}

